
<!DOCTYLE html>
<html> 
<body> 
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css" />
	<div class="container">
		<form action="/form-submit" method="POST">
			<h2 style="margin-top: 100px;">Slack notifications</h2>
			<div class="row">
				<div class="six columns">
					<label for="message">Message</label>
					<input class="u-full-width" type="text" name="message" placeholder="Xin Chao" required>
					<button class="button-primary" type="submit">Submit</button>
				</div>
			</div>
		</form>
	</div>
</body>
</html>
